<a href="https://colab.research.google.com/github/thiagocscaminha/Python-Challenges-BeeCrowd/blob/main/01%20-%20Beginner%20-%20%231008%20-%20Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# beecrowd | 1008 | Salary

Write a program that reads an employee's number, his/her worked hours number in a month and the amount he received per hour. Print the employee's number and salary that he/she will receive at end of the month, with two decimal places.

Don’t forget to print the line's end after the result, otherwise you will receive “Presentation Error”.
Don’t forget the space before and after the equal signal and after the U$.

**Input**: The input file contains 2 integer numbers and 1 value of floating point, representing the number, worked hours amount and the amount the employee receives per worked hour.

**Output**: Print the number and the employee's salary, according to the given example, with a blank space before and after the equal signal.


**Input Samples:** 25 100 5.50
**Output Samples:** NUMBER = 25 SALARY = U$ 550.00

**Input Samples:** 1 200 20.50
**Output Samples:** NUMBER = 1 SALARY = U$ 4100.00

**Input Samples:** 6 145 15.55
**Output Samples:** NUMBER = 6 SALARY = U$ 2254.75

In [ ]:
e_number = int(input())
e_hours = int(input())
e_salary = float(input())
salary = e_hours * e_salary
print('NUMBER =',e_number)
print('SALARY = U$ {:.2f}'.format(salary))

6
145
15.55
NUMBER = 6
SALARY = U$ 2254.75