<a href="https://colab.research.google.com/github/thiagocscaminha/Python-Challenges-BeeCrowd/blob/main/01%20-%20Beginner%20-%20%231020%20-%20Age%20in%20Days.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# beecrowd | 1020 | Age in Days

Read an integer value corresponding to a person's age (in days) and print it in years, months and days, followed by its respective message “ano(s)”, “mes(es)”, “dia(s)”.

Note: only to facilitate the calculation, consider the whole year with 365 days and 30 days every month. In the cases of test there will never be a situation that allows 12 months and some days, like 360, 363 or 364. This is just an exercise for the purpose of testing simple mathematical reasoning.

**Input:** The input file contains 1 integer value.

**Output:** Print the output, like the following example.

**Input Sample:**	400
**Output Sample:**  
1 ano(s)  
1 mes(es)  
5 dia(s)

**Input Sample:**	800  
**Output Sample:**  
2 ano(s)  
2 mes(es)  
10 dia(s)

**Input Sample:**	30  
**Output Sample:**  
0 ano(s)  
1 mes(es)  
0 dia(s)

In [23]:
age_days = int(input())

years = int(age_days / 365)
age_days = int(age_days % 365)
months = int(age_days / 30)
days = int(age_days % 30)

print('{} ano(s)'.format(years))
print('{} mes(es)'.format(months))
print('{} dia(s)'.format(days))

30
0
1
0