<a href="https://colab.research.google.com/github/thiagocscaminha/Python-Challenges-BeeCrowd/blob/main/01%20-%20Beginner%20-%20%231010%20-%20Simple%20Calculate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# beecrowd | 1010 | Simple Calculate

In this problem, the task is to read a code of a product 1, the number of units of product 1, the price for one unit of product 1, the code of a product 2, the number of units of product 2 and the price for one unit of product 2. After this, calculate and show the amount to be paid.

**Input**: The input file contains two lines of data. In each line there will be 3 values: two integers and a floating value with 2 digits after the decimal point.

**Output**: The output file must be a message like the following example where "Valor a pagar" means Value to Pay. Remember the space after ":" and after "R$" symbol. The value must be presented with 2 digits after the point.


**Input Samples:**  
12 1 5.30  
16 2 5.10  
**Output Samples:** VALOR A PAGAR: R$ 15.50

**Input Samples:**  
13 2 15.30  
161 4 5.20  
**Output Samples:** VALOR A PAGAR: R$ 51.40

**Input Samples:**  
1 1 15.10  
2 1 15.10  
**Output Samples:** VALOR A PAGAR: R$ 30.20

In [ ]:
code_1, num_1, price_1 = map(float,input().split())
code_1 = int(code_1)
code_2, num_2, price_2 = map(float,input().split())
code_2 = int(code_2)
total = (int(num_1) * float(price_1)) + (int(num_2) * float(price_2))
print('VALOR A PAGAR: R$ {:.2f}'.format(total))

12.1 1 5.30
16.9 2 5.10
VALOR A PAGAR: R$ 15.50